{% extends 'store/home.html' %}
{% load static %}
{% block home %}

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-8 col-sm-12">
				<h2>About Us</h2>
				<p style="font-size: 16px">
					Legal Accessories warehouse is a leading international provider of court workwear and ceremonial clothing for professionals. We fit majorly members of the legal and academic cadre in the areas of daily court and occasional ceremonial wears for processions such as investitures and convocation ceremonies.<br><br>

					As it is the norm for robes to be worn during legal proceedings, call to bar ceremonies, certain legal and academic ceremonial occasions as well as legislative or parliamentary procession, we have developed over the years a strong ability in production of quality, standardized court and work wear for gentlemen of the bar and the bench in accordance with international practise and specifications.<br><br>

					We have combined our brand building expertise, strong design capability and flexible services with value for money, resulting in a unique wear which has kept our customers satisfied and retained as a result of the quality in our products.<br><br>

					We will be available for your service in every area of legal and ceremonial outfits at any available time.<br><br>

					Please visit corresponding catalogues to view detailed information of our services and products.
				</p>
			</div>
			<div class="col-lg-4 col-sm-12">
				<img src="{% static "store/images/about.jpg" %}" width="100%">
			</div>
		</div>
	</div>

{% endblock %}